*, *:before, *:after {
     padding: 0;
     outline: 0;
     box-sizing: border-box;
}
 body {
     background-image: url(./assets/bg.png);
     background-position: 0px 0px;
     background-repeat: no-repeat;
     height: 100vh;
     direction: rtl;
     font-family: Arial, Helvetica, sans-serif;
     background-size: cover;
     background-attachment: fixed;
}
#root{
    height: 100%;
    width: 100%;
}
 h2,h1, h3,h4,p{
     color:#fff;
}
 .red::-webkit-input-placeholder {
    /* Edge */
     color: red;
}
 .red:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
     color: red;
}
 .red::placeholder {
     color: red;
}
 .right{
     text-align: right;
}
 .main{
     overflow: visible;
     min-height: 98vh;
     width: calc(100% - 400px);
     display: flex;
     flex-flow: column;
     align-items: center;
     justify-content: center;
}
.main .logo{display: none;}
 .column{
     width: 400px;
     display: block;
     background-color: #43434d;
     text-align: center;
     padding: 5% 2% 2% 2%;
     min-height: 70vh;
}
 .column h3{
     font-size: 2.5em;
     margin-bottom: 2%;
     margin-top: 0;
}
 .column h4{
     font-size: 2em;
     margin-bottom: 2%;
     margin-top: 0;
}
 input{
     display: block;
     padding: 2%;
}
 .flex{
     display: flex;
     align-items: center;
     justify-content: center;
}
 .flex .input{
     width: 98%;
     margin: 0 0 2% 2%;
}
 .flex fieldset{
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     padding-block-start: 0em;
     padding-inline-start: 0em;
     padding-inline-end: 0em;
     padding-block-end: 0em;
     border-width: 0px;
}
 .flex .input input{
     display: block;
     padding: 9px 0;
     width: 100%;
     text-indent: 7px;
     font-size: 1.2em;
}
 .flex .input.third{
     flex-grow: 1;
     width: 30%;
}
 .flex .input.two-third{
     flex-grow:2;
     width: 60%;
}
 .relative{
    position: relative;
}
 .logo{
     background-image: url(./assets/logo.png);
     background-position: 0px 0px;
     background-repeat: no-repeat;
     width: 319px;
     height: 143px;
     background-size: contain;
     margin-bottom: 0%;
}
 .container{
     width: 90%;
     margin: 0px auto;
     height: 100%;
}
 .inline-block{
     display: inline-block;
}
 .checkbox span{
     color: #fff;
     display: inline-block;
     max-width: calc(98% - 30px);
     vertical-align: top;
     font-weight: 200;
     text-align: right;
}
 .squaredOne {
     width: 28px;
     height: 28px;
     position: relative;
     display: inline-block;
     background: #fcfff4;
     box-shadow: inset 0px 1px 1px white, 0px 1px 1px rgba(0,0,0,0.5);
     margin: 4px 0 4px 7px;
     vertical-align: top;
}
 .red .squaredOne{
     border: 2px solid red;
}
 .squaredOne label {
     width: 25px;
     height: 23px;
     position: absolute;
     top: 1px;
     left: 0px;
     cursor: pointer;
}
 .squaredOne label:after {
     content: '';
     width: 22px;
     height: 20px;
     position: absolute;
     top: 3px;
     left: 3px;
     background: #ffea01;
     box-shadow: 0px 0.1px 0.1px 0.1px rgba(0,0,0,0.5);
     opacity: 0;
}
 .squaredOne label:hover::after {
     opacity: 0.3;
}
 .squaredOne.checked label:after {
     opacity: 1;
}
 .submit-button{
     background: #fce700;
     background: -moz-linear-gradient(top, #fce700 0%, #fdf270 100%);
     background: -webkit-linear-gradient(top, #fce700 0%,#fdf270 100%);
     background: linear-gradient(to bottom, #fce700 0%,#fdf270 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce700', endColorstr='#fdf270',GradientType=0 );
     padding: 7%;
     color: #43434d;
     border-radius: 20px;
     margin: 5% auto;
     font-size: 1.52em;
     font-weight: 700;
     cursor: pointer;
}
 .right-side{
    text-align: center;
}
 .right-side h2{
    color: #fce700;
     font-size: 2.8em;
     margin: 0;
}
 .right-side h1{
     font-size: 3.2em;
     border-bottom: 1px solid #fff;
     margin: 0 0 2px 0px;
     padding-bottom: 2%;
     display: inline-block;
}
 .right-side h3{
     font-size: 1.5em;
     width: 63%;
     margin: 0 auto 2% auto;
     text-align: right;
}
 .items{
     display: flex;
     width: 60%;
     justify-content: space-between;
     margin-top: 3%;
     flex-direction: row-reverse;
}
 .items .item{
     background-image: url(./assets/comfi.png);
     background-position: 0px 0px;
     background-repeat: no-repeat;
     width: 139px;
     height: 135px;
}
 .items .item:nth-of-type(2){
     background-image: url(./assets/limon.png);
}
 .items .item:nth-of-type(3){
     background-image: url(./assets/melets.png);
}
 .items .item:nth-of-type(4){
     background-image: url(./assets/light.png);
}
 .pack{
     background-image: url(./assets/pack.png);
     background-position: 0px 0px;
     background-repeat: no-repeat;
     width: 42%;
     background-size: contain;
     margin-left: 0%;
     position: absolute;
     height: 98vh;
     right: -35px;
     bottom: 0;
}
 .center{
    justify-content: center;
     align-items: center;
}
 .curtain{
    background: #5f5f61;
     position: absolute;
     top:0px;
     left:0px;
     text-align: center;
     flex-flow: column wrap;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
     z-index: 3;
     display: none;
}
 .curtain.show{
     display: flex;
}
 .vi{
     background-image: url(./assets/v_icon.png);
     background-position: 0px 0px;
     background-repeat: no-repeat;
     width: 192px;
     height: 192px;
     background-size: contain;
     margin-left: 0%;
}
 .phaste-top{
     background-image: url(./assets/thank_you_pack.png);
     background-position: 0px 0px;
     background-repeat: no-repeat;
     width: 392px;
     height: 120px;
     background-size: contain;
     margin-left: 0%;
}
 .shadow{
    z-index: 2;
    position: fixed;
     top:0px;
     left:0px;
     width: 100%;
     height: 100%;
    background-color: rgba(0,0,0,.7);
    display: none;
}
 .shadow.show{
    display: block;
}
 .curtain .vi{
    margin-bottom:10%;
}
 .curtain .phaste-top{
    margin-top:5%;
}
.mobile{display: none;}
.screen{display:block;}
 @media screen and (max-width: 550px), (orientation: landscape) and (max-width:1200px) and (min-width: 1000px) {
}

 @media screen and (max-width:1280px) {
     .container{
             width: 95%;
    justify-content: flex-end;
    }
    .logo{width: 100%;    height: 100px;}
     .column{
         height: 100%;
         padding: 2% 3% 0% 3%;
             width: 32%;
             margin-right: 6%;
     }
     .column h3{font-size: 1.9em;}
     .right-side h2 {
    font-size: 1.8em;
    margin: 0 auto;
}
    .right-side h1 {
    font-size: 2em;
    margin: 0 auto;
}
.right-side h3{width: auto;}
.main{width: 44%;}
.items{width: 100%;}
.items .item{
    background-size: contain;
    width: 20%;
}
.pack{
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    right: -77px;
    z-index: 2;
    bottom: -30px;
}
.submit-button{
    font-size: 1.3em;
}
}
 @media screen and (max-width:550px)  {
     .mobile{display: block;}
     .screen{display: none;}
     .main .logo{display: block;}
     .container{
             width: 100%;
    justify-content: flex-end;
    }
    .flex{display: block;}
    .logo{width: 30%;
    height: 40px;
    margin: 0 auto;}
     .column{
         height: auto;
    padding: 2% 3% 2% 3%;
    width: 100%;
    margin-right: 0%;
     }
     .column .logo{display: none;}
     .right-side{margin-top: 3%;}
     .column h3{font-size: 1.1em;}
     .column h4{font-size: 1em;}
     .right-side h2 {
    font-size: 1.2em;
    margin: 0 auto;
}
    .right-side h1 {
    font-size: 1.3em;
    margin: 0 auto;
}
.right-side h3{
        font-size: 1.3em;
    margin: 0 auto;
}
.right-side h3{width: auto;}
.main{    width: 70%;
    margin: 0;
    min-height: unset;}
.items{width: 100%;}
.items .item{
    background-size: contain;
    width: 20%;
}
.pack{
    background-position: -75px -6px;
    background-repeat: no-repeat;
    width: 150px;
    height: 200px;
    right: 53%;
    z-index: 2;
    bottom: auto;
    top: 20%;
}
.submit-button{
    font-size: 1.3em;
}
}
 